.post {
  width: 90vw;
  margin: 30px auto;
}

.postWrapper {
  width: 100%;
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postBottomLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 0 0 0 25px;
}

.postBottomRight {
  display: flex;
  align-items: center;
}

.postProfileImg {
  min-width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #d9d9d9;
}

.postUsername {
  font-size: 15px;
  font-weight: bold;
  margin: 0 0 0 25%;
}

.postCenter {
  width: auto;
  height: fit-content;
  padding: 1.5%;
  margin: 20px 0;
  background-color: #1f1f1f;
  color: white;
  position: relative;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.postText {
  font-size: 24px;
  top: 25px;
  text-align: left;
  width: 95%;
  word-spacing: 2.5%;
}

.commentCounter,
.quoteCounter {
  font-size: 15px;
  margin: 0 10px;
}

.teaCounter {
  font-size: 15px;
  margin: 0 0 0 10px;
}

.commentIcon,
.quoteIcon,
.teaIcon {
  cursor: pointer;
}
